.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.comment-list {
  list-style: none;
  padding: 0;
  .avatar {
    position: absolute;
    left: -50px;
    top: 0px;
  }
  .children {
    list-style: none;
    padding-left: 0;
    .comment-body {
      background-color: #fcfcfc;
    }
  }
}

.comment-body {
  margin-left: 50px;
  margin-bottom: 2em;
  padding: 0.7em 1em;
  border: 1px solid #eee;
  position: relative;
  border-radius: 3px;
  background-color: #fefefe;
  &:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #eee transparent transparent;
    content: "";
    position: absolute;
    left: -12px;
    top: 7px;
  }
}
.comment-metadata {
  @include font-size(0.75);
  position: absolute;
  top: 1em;
  left: 1.5em;
}
.comment-author {
  margin-top: 1em;
}
.says {
  @include font-size(0.875);
}
.reply {
  @include font-size(0.875);
  font-weight: bold;
}
.comment-content {
  p:first-of-type {
    margin-top: 0.2em;
    @include font-size(0.875);
  }
}
.comment-form-comment, .logged-in-as {
  margin-top: 0.7em;
}

.comments-area {
  margin-top: 2em;
}

.comment-reply-title {
  font-family: inherit;
}
.comment-form {
  .form-submit {
    text-align: right;
    margin-top: 0.5em;
  }
}

#cancel-comment-reply-link {
  color: #e24147;
  font-size: 12px;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px 4px;
  vertical-align: middle;
}
li .comment-respond {
  padding: 0 1em 1em;
}

.logged-in-as {
  @include font-size(1);
}

.comments-title {
  font-family: inherit;
  font-weight: normal;
  @include font-size(1.158);
  margin-top: 3.5em;
  span {
    font-weight: bold;
    color: $color__link;
  }
}