/* MENUS */

.main-navigation {
  clear: both;
  display: none;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        padding: 5px 0 7px 13px;
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
    & > li {
      &:not(:last-child) {
        margin-right: 1.5em;
      }
    }
  }
  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
      color: $color__link;
    }
  }
  a {
    color: inherit;
    display: block;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}

/* Small menu */
.nav-sub-icon {
  display: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background: none;
  color: inherit;
  border: none;
  padding: 6px;
}

.nav-sub-icon.arrow-active {
  transform: rotate(90deg);
}

.menu-toggle {
  color: $color__link;
  font-weight: normal;
  background: none;
  border: none;
  font-size: 28px;
  padding: 6px 5px;
  margin: 5px;
  float: right;
  display: inline-block;
  box-shadow: none;
}

/* Small navigation */
@media screen and (max-width: 45.49em) {
  .main-navigation {
    ul {
      li > ul {
        position: static;
        box-shadow: none;
        padding: 10px 10px 0;
        width: 100%;
        .nav-sub-icon {
          margin-right: 15px;
        }
        li {
          width: 100%;
        }
        li:last-child {
          border-bottom: none;
        }
      }
      ul li {
        padding: 10px 10px 0;
      }
    }
    li {
      width: 100%;
      padding: 10px 10px 0;
      border-bottom: 1px solid;
      border-color: inherit;
      a {
        width: 100%;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
  .menu-item-has-children a {
    margin-right: 20px;
  }
  .nav-sub-icon {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 0.8em;
  }
  .nav-menu > li {
    padding-bottom: 1em;
  }
}

/* Switching from toggle menu to full display */
@media screen and (min-width: 45.5em) {
  .nav-menu {
    display: inline-block;
    vertical-align: bottom;
    li a {
      line-height: 50px;
    }
  }
  .main-navigation div.menu {
    font-size: 13px;
    & > ul > li > a {
      line-height: 64px;
    }
  }

  .menu-toggle {
    display: none;
  }
  #site-navigation {
    display: block;
  }
  .sub-menu {
    display: block !important;
    border-top: 1px solid;
    & > li:first-of-type {
      padding-top: 0.5em;
    }
  }
  .main-navigation {
    ul li {
      &:hover > ul,
      &.focus > ul {
        display: block !important;
      }
    }
  }
  ul:not(.sub-menu) > li {
    &.current_page_item > a,
    &.current-menu-item > a,
    &.current_page_ancestor > a {
      border-bottom: 1px solid;
      line-height: 49px;
    }
  }
}

/* Inline navigation for wide displays */
@media screen and (min-width: 45.5em) {
  .main-navigation {
    display: inline-block !important;
    margin-left: 25px;
    vertical-align: top;
    ul {
      ul {
        top: 3em;
      }
    }
  }
}

@media screen and (min-width: 1066px) {
  .main-navigation ul .sub-menu {
    margin-top: 10px;
  }
  .main-navigation ul.nav-menu > li > a {
    line-height: 64px;
  }
  .main-navigation div.menu > ul > li > a {
    line-height: 64px;
  }

  ul:not(.sub-menu) > li {
    &.current_page_item > a,
    &.current-menu-item > a,
    &.current_page_ancestor > a {
      line-height: 63px;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  & .nav-previous {
    float: left;
    width: 50%;
  }

  & .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.nav-admin-notice {
  line-height: 64px;
}