.mc4wp-form {
  margin: 2em 0 !important;
  background: #F7F8F9;
  border: 1px solid #DDE2E6;
  padding: 0 1.2em;
  text-align: center;
  border-radius: 4px;
  h3 {
    font-family: inherit;
    color: #146996;
    font-size: 19px;
    margin-top: 0.8em;
  }
  label {
    display: inline-block;
  }
  p {
    @include font-size(0.875);
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  input {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

@media all and (min-width: 40.063em) {
  .content-area .mc4wp-form {
    form {
      input[type="text"] {
        width: 30%;
        line-height: 25px;
        display: inline-block;
        &:nth-of-type(2) {
          margin-bottom: 1em;
        }
      }
      input[type="email"] {
        width: 49%;
        line-height: 25px;
        margin-left: 1%;
        display: inline-block;
        & + p {
          margin-top: 1em;
        }
      }
      input[type="submit"] {
        width: 16%;
        margin-left: 2%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}