/* BUTTONS */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.btn,
i.btn {
  border: 1px solid;
  border-color: #B8DCEF #B8DCEF #5598BD #5598BD;
  border-radius: 6px;
  color: #fff;
  background: #39A9E5;
  text-decoration: none;
  font-weight: bold;
  @include font-size(0.75);
  line-height: 1;
  padding: 0.6em 1em;
  letter-spacing: 0.25px;

  &:active,
  &:focus,
  &:hover {
    background: #2E97CF;
    color: #F0FAFF;
  }

}

/* FIELDS */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
select,
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 3px;
  @include font-size(0.8);
  line-height: 2;
  padding-left: 0.7em;

  &:focus {
    color: $color__text-input-focus;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px 3px 3px 0.7em;
}

input.is-error {
  border-color: #E81010;
  background: #FFF5F5;
}

input.is-valid {
  border-color: #87D549;
  background: #FCFFFC;
}

textarea {
  width: 100%;
  padding: 0.7em;
}

select {
  padding: 4px;
}

label {
  display: block;
  margin-top: 1.125em;
  margin-bottom: 0.1em;
  @include font-size(1);
}

label, legend {
  abbr[title] {
    color: $color__input-warning;
    border: none;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 2em 0;

  ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
  }
}

div.wpcf7 {
  p {
    @include font-size(1);
  }
  margin: 1.5em 0;
}

.wpcf7-submit {
  float: right;
}