/* POSTS AND PAGES */
.sticky {
  display: block;
}

.hentry {
  padding-bottom: 2em;
  margin: 0 0 2em;
  &:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
}

.byline,
.updated:not(.published){
  display: none;
}

.byline .avatar {
  float: left;
  margin-right: 0.8em;
}

.entry-meta {
  .author {
    font-weight: bold;
  }
  @include font-size(0.875);
  margin-bottom: 0.5em;
  & > span:not(:last-child) {
    margin-right: 1em;
  }
}
.entry-meta + .entry-image {
  margin-top: 0.5em;
}

.posted-on a {
  font-weight: bold;
}
.group-blog .posted-on a {
  font-weight: normal;
  color: #aaa;
  font-size: 0.85em;
}

.comments-count {
  float: right;
}

.entry-title {
  margin-top: 0em;
  font-weight: normal;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-content {
  margin-top: 0;
  p:first-of-type {
    margin-top: 1em;
  }
  p:last-of-type {
    margin-bottom:  0.5em;
  }
}


.entry-image {
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 1em;
}
@media all and (min-width: 820px) and (max-width: 999px) {
  .entry-image {
    width: 110%;
    margin-left: -5%;
  }
}
@media all and (min-width: 1160px) {
  .entry-image {
    width: 110%;
    margin-left: -5%;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* ASIDES - post type */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}