.site-content {
  position: relative;
}
.site-main {
  max-width: 700px !important;
  margin: 2em auto;
  padding: 0 20px;
}

@media all and (min-width: 1000px) and (max-width: 1249px ) {
  .site-main {
    margin: 3em auto;
  }
  body.sidebar-left .content-area {
    margin-left: 350px;
  }
  body.sidebar-right .content-area {
    margin-right: 350px;
  }
}

@media all and (min-width: 1250px) {
  .site-main {
    margin: 3em auto;
  }
  body.sidebar-left .content-area {
    margin-left: 430px;
  }
  body.sidebar-right .content-area {
    margin-right: 430px;
  }
}