#page {
  max-width: 100%;
  overflow: hidden;
  min-height: 100%;
//  overflow-x: hidden;
//  overflow-y: visible;
//  height: 100%;

}
.site-content {
  position: relative;
  overflow: hidden;
}
.site-main {
  max-width: 700px;
  margin: 2em auto;
  padding: 0 20px;
}

@media all and (min-width: 1000px) and (max-width: 1249px ) {
  body.sidebar-left {
    .content-area, .site-footer {
      margin-left: 350px;
    }
  }
  body.sidebar-right {
    .content-area, .site-footer {
      margin-right: 350px;
    }
  }
}

@media all and (min-width: 1250px) {

  body.sidebar-left {
    .content-area, .site-footer {
      margin-left: 430px;
    }
  }
  body.sidebar-right {
    .content-area, .site-footer {
      margin-right: 430px;
    }
  }
  body.single-post {
    .site-main {
      max-width: 740px;
    }
  }
}

@media all and (min-width: 1000px) {
  .site-main {
    margin: 3em auto;
  }
  .content-area, .site-footer {
    transition: all 350ms $ease_easeOutCubic;
  }
  body.sidebar-left.sidebar-closed {
    .content-area, .site-footer {
      margin-left: 35px;
    }
  }
  body.sidebar-right.sidebar-closed {
    .content-area, .site-footer {
      margin-right: 35px;
    }
  }
}

// Reset javascript inline style in smaller viewport
@media all and (max-width: 999px) {
  body, .main-sidebar {
    min-height: initial !important;
  }
}

/* Search results */

.search-results, .archive {
  .entry-summary, .entry-summary p:first-of-type {
    margin-top: 1em;
  }
  .excerpt-read-more {
    margin-top: 0.5em;
  }
  .page-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    h2 {
      font-family: inherit;
      @include font-size(1.75);
      font-weight: normal;
    }
    span {
      font-weight: bold;
    }
    .author-bio {
      margin-top: 0.5em;
      .fa {
        margin-right: 0.3em;
      }
    }
  }
  .page-title {
    .fa {
      font-size: 0.8em;
      opacity: 0.3;
      margin-right: 0.4em;
    }
    .fa-search, .fa-user, .fa-calendar-o {
      vertical-align: top;
    }
    .fa-search, .fa-calendar-o {
      margin-top: 7px;
    }
    .fa-user {
      margin-top: 8px;
    }
  }
}

.no-results {
  .page-title {
    font-family: inherit;
    @include font-size(1.75);
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    margin-bottom: 0;
  }
  .page-content, .page-content p {
    margin-top: 1em;
  }
  .search-form {
    label, input {
      display: inline-block;
    }
  }
}

/* Archive */

.taxonomy-description {
  padding: 0.5em 0;
  @include font-size(1);
  p:first-of-type {
    margin: 0;
  }
}