.site-content {
  position: relative;
}
.site-main {
  max-width: 700px;
  margin: 2em auto;
  padding: 0 20px;
}

@media all and (min-width: 1000px) and (max-width: 1249px ) {
  body.sidebar-left .content-area {
    margin-left: 350px;
  }
  body.sidebar-right .content-area {
    margin-right: 350px;
  }
}

@media all and (min-width: 1250px) {

  body.sidebar-left .content-area {
    margin-left: 430px;
  }
  body.sidebar-right .content-area {
    margin-right: 430px;
  }
  body.single-post {
    .site-main {
      max-width: 740px;
    }
  }
}

@media all and (min-width: 1000px) {
  .site-main {
    margin: 3em auto;
  }
  .content-area {
    transition: all 350ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
  }
  body.sidebar-left.sidebar-closed .content-area {
    margin-left: 35px;
  }
  body.sidebar-right.sidebar-closed .content-area {
    margin-right: 35px;
  }
}