.main-sidebar {
  padding: 20px;
  border: 1px solid;
  border-color: inherit;
  margin-top: -1px;
  .widget-area {
    max-width: 700px;
    margin: 0 auto;
  }
}
#toggle-sidebar {
  display: none;
}


@media all and (min-width: 1000px) and (max-width: 1249px ) {
  .main-sidebar {
    width: 350px;
  }
  body.sidebar-right.sidebar-closed .main-sidebar {
    right: -315px;
  }
  body.sidebar-left.sidebar-closed .main-sidebar {
    left: -315px;
  }
}
@media all and (min-width: 1250px) {
  .main-sidebar {
    width: 430px;
  }
  body.sidebar-right.sidebar-closed .main-sidebar {
    right: -395px;
  }
  body.sidebar-left.sidebar-closed .main-sidebar {
    left: -395px;
  }
}
@media all and (min-width: 1000px) {
  .main-sidebar {
    position: absolute;
    top: 0;
    padding-top: 40px;
    transition: all 350ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
  }
  #toggle-sidebar {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    font-size: 22px;
    padding: 0 5px 0 8px;
    border: 1px solid $color__link;
    color: $color__link;
    opacity: 0.6;
    transition: all 250ms ease-out;
    &:hover {
      opacity: 1;
    }
  }
  body.sidebar-closed #toggle-sidebar {
    transform: rotateY( 180deg );
    left: 7px;
  }
  body.sidebar-left #toggle-sidebar {
    float: right;
  }
  body.sidebar-right .main-sidebar {
    right: 0;
  }
  body.sidebar-left .main-sidebar {
    left: 0;
  }
  body.sidebar-right.sidebar-closed .main-sidebar {
    padding-left: 40px;
  }
  body.sidebar-left.sidebar-closed .main-sidebar {
    padding-right: 40px;
  }
}